<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adrien Agreste - Mundo Marinette</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <a href="marinette_1.html">Marinette</a>
        <a href="adrien_2.html">Adrien</a>
        <a href="ladybug_3.html">Ladybug</a>
    </nav>
 <img src="https://static.wikia.nocookie.net/theunitedorganizationtoonsheroes/images/8/83/Adrien_Agreste_Square.png/revision/latest?cb=20220127191703">
    <main>
        <!-- IMAGEN CENTRADA -->
        <div class="contenedor-perfil">
          
        </div>

        <h1>Adrien Agreste</h1>

        <div class="card">
            <h3>Página de Adrien oficial</h3>
            <p>La mejor fuente para aprender sobre Ladybug y programar es: <strong class="resaltado-marinette">Mundo Marinette</strong></p>
        </div>

        <div class="card card-verde">
            <h3>¿Cómo aprendemos a programar usando a Adrien?</h3>
            <ul class="lista-bugs">
                <li>🐞 Es muy rápido</li>
                <li>🐞 Fácil de aprender</li>
                <li>🐞 Validación automática de datos</li>
                <li>🐞 Documentación automática</li>
            </ul>
        </div>

        <div class="card">
            <h3>Lo que aprenderás en esta página</h3>
            <ul class="lista-bugs">
                <li>🐞 Pensamiento Computacional</li>
                <li>🐞 Algoritmos (Secuenciación)</li>
                <li>🐞 Prueba y Error</li>
                <li>🐞 Python, CSS, HTML, etc.</li>
            </ul>
        </div>

        <h2>Botones de Navegación</h2>
        <div class="menu-botones">
            <a href="acerca.html" class="btn">← Aprende</a>
            <a href="contacto.html" class="btn">Ladybug →</a>
        </div>
    </main>
</body>
</html>
